@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
  /* font-family: "Cormorant Garamond", serif;
  font-family: "Inter", sans-serif; */
  font-family: "Libre Franklin", sans-serif !important;
}


.what_we_offer_sec {
  width: 100%;
  padding: 80px 0px;
  background-color: #fdf4e5;
}

.page_heading {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.page_heading h6 {
  color: #7F6C53;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
}

.page_heading h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4;
  color: #2b2620;
}


/* What We Offer - Service Card CSS */

.service-card {
  display: flex;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  height: 100%;
  border: 1px solid #e1e1e1d1;
}

.service-image {
  width: 45%;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border-top-right-radius: 110px;
}

.service-content {
  padding: 35px;
  width: 55%;
}

.service-content .icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.service-content h3 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 12px;
  font-family: 'Cormorant Garamond';
}

.service-content p {
  color: #606060;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Libre Franklin';
}

.service-content a {
  color: #2f6f4e;
  font-weight: 600;
  text-decoration: none;
  font-family: "Inter";
}