@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "GothamMedium";
    src: url("/fonts/GothamMedium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: "Cormorant Garamond", serif;
  font-family: "Inter", sans-serif; */
    /* font-family: "Libre Franklin", sans-serif !important; */
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


.what_we_offer_sec {
    width: 100%;
    padding: 80px 0px;
    background-color: #fff;
}

.page_heading {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
}

.page_heading h6 {
    color: #01458e;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Libre Franklin", sans-serif;
}

.page_heading h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    color: #2b2620; 
}


